<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addToTeam()">Save</ion-button>
    </ion-buttons>
    <ion-title>{{details?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="details">
    <img [src]="details.imageURL" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <strong>#{{details.id}} {{details.name}}</strong>
          <ion-chip *ngFor="let type of details.types" color="secondary">
            <ion-label>{{type}}</ion-label>
          </ion-chip>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <b>Abilities: </b>
              <span *ngFor="let ability of details.abilities, let last = last">
                {{ability}}{{last ? '' : ', '}}
              </span>
            </ion-label>
          </ion-item>

          <ion-item *ngFor="let stat of details.stats">
            <ion-label slot="start">
              <h2>
                <b>
                  {{stat.name.charAt(0).toUpperCase() + stat.name.slice(1)}}
                </b>
              </h2>
            </ion-label>
            <ion-label slot="end"> {{stat.value}} </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <strong>{{details.name}}'s Attacks</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item
            *ngFor="let move of details.moves"
            [routerLink]="['/move-detail', move.id]"
            button="true"
            detail="true"
          >
            <ion-label>{{move.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
