<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="addNewTeam()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" [routerLink]="['/pokemons']">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Teams </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let team of teamNames">
      <ion-item>
        <ion-label>{{team}}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteTeam(team)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
